body{
    background: url("images/main.jpeg");
    text-align: center;
    font-size: 30px;
}
#cake {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
  }
  
  @keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }

h1:hover{
    background-color: black;
    opacity: 0.4;
    color: gold;

}
span:hover{
    font-size: 2em;
}
.box{
    background-color: aqua;
    text-decoration: none;
    color:red;
    opacity: 0.2;
    text-transform: capitalize;
}
ul{
    list-style-type: none;
}
div ul:hover{
    opacity: 0.2;
}
#col:hover{
    background-color: aqua;
    height: 60px;
    opacity: 0.2;
}
a{
    text-decoration: none;
    opacity: 0.5;
}
a:hover{
    color:blue;
}
abbr{
    text-decoration:none;
}
#music{
    position:absolute;
    left:0px;
}
