* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a:link, a:visited {
  text-decoration: none;
  background-color: green;
  border: 1px solid blue;
  color: black;
  width: 200px;
  text-align: center;
  margin-bottom: 1px;
  font-size: 24px;
}

a:hover, a:active {
  background-color: red;
  color: purple;
  font-size: 24px;
}
body{
  background-color: gray;
}

p {
    width: 50px;
    height: 50px;
    margin-bottom: 16px;
  }
h1 {
    margin-bottom: 16px;
  }

  div#container {
    top: 60px;
  }
#main{
    text-align: center;
    opacity: 1;
    z-index: 1;

    display: block;
  }
#p1 {
    position: absolute;
    top: 10px;
    right: 250px;

}
#p2 {
    top: 0px;
    left: 120px;

}
#p3 {
    position: absolute;
    bottom: 280px;
    right: 255px;
}
#p4 {
  position: absolute;
  bottom: 260px;
  left: 0px;
}

#p5{
    margin-bottom:50px;
    opacity: 1;
    z-index: 1;
    position:absolute;
   text-align: center;
    position: absolute;
    top: 0px;
    left:550px;
}
#author{
  color: gold;
  font-size: 30px;
  text-align: center;
  margin-top: 60px;
}